<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Bigdata Research Services</title>
<script src="https://cdn.tailwindcss.com"></script>
<script>
	tailwind.config = {
		theme: {
			extend: {
				colors: {
					bg: '#000000',
					panel: '#70ff77',
					panelhover: '#ffffff',
					text: '#e6e9f5',
					muted: '#b7c0e0',
					brand: '#000000',
				},
			}
		}
	}
</script>
<link rel="icon" href="static/favicon.ico">
<body class="min-h-screen font-sans text-text bg-black" style="background: radial-gradient(1200px 1200px at 10% -10%, #1f2022 0%, rgba(26,37,80,0) 60%), #000000; background-repeat: no-repeat; background-size: 100% 100%; color: #e6e9f5;">

	<nav class="flex items-center pt-4 pb-4 pl-4 border-b border-black bg-gradient-to-b from-[#101116d9] to-[#080c1e99] sticky top-0 z-10" role="navigation" aria-label="main navigation">
		<a class="inline-flex items-center gap-2 no-underline text-text font-semibold" href="/">
				<img class="h-[40px] w-auto" alt="light logo" src="static/bigdata_logo.svg">
		</a>
	</nav>

	<main class="px-4 py-8 text-left ml-0">
		{% block content %}{% endblock %}
	</main>

</body>

</html>