[run]
branch = True
relative_files = True
source = bigdata_thematic_screener

omit =
    */tests/*
    tests/*

[report]
#fail_under = 80
exclude_lines =
    # Add common test code patterns to exclude here if needed
    if __name__ == "__main__":

[xml]
output = coverage-reports/coverage.xml
